/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// colors
$accentColor = #d66056
$textColor = #222
$borderColor = transparent
$codeBgColor = #000
$arrowBgColor = #ccc
$headerBgColor = #f8f8f8
$bgColor = #f8f8f8
$footerBgColor = darken($textColor, 5%)